
@page "/C_Articulos"

@inject ArticuloBLL articuloBLL
@inject AlmacenBLL Almacen
@inject SuplidorBLL Suplidor


<PageTitle>Consulta Articulo.</PageTitle>


<style>
    .datagrid-container {
        width: 100%;
        overflow-x: auto;
    }

    .datagrid-container .rz-datagrid .rz-datagrid-body .rz-datagrid-column:nth-child(1) {
        width: 100px;
    }
</style>



<RadzenCard>
    <RadzenFieldset>
        <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon Icon="emergency" class="me-1" /><b>Consulta Articulos.</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <div class="datagrid-container">
                <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
                    AllowGrouping="true" AllowSorting="true" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                    Data="articuloBLL.GetList(o => o.ArticuloId != 1)" TItem="Articulo" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or"
                    ShowPagingSummary="true">

                    <Columns>
                        <RadzenDataGridColumn TItem="Articulo" Filterable="false" Sortable="false"  Frozen="true" Title="Acciones">
                        <Template Context="Item">
                            <RadzenLink Path=@($"R_Articulos/{Item.ArticuloId}") Text="Ver" ><RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text="Ver" /></RadzenLink>
                        </Template>
                    </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Articulo" Property="ArticuloId" Title="ArticuloId#" />
                        <RadzenDataGridColumn TItem="Articulo" Property="Descripcion" Title="Descripcion" />
                        <RadzenDataGridColumn TItem="Articulo" Filterable="true" Sortable="true"  Frozen="false" Title="Almacen">
                            <Template Context="Item">
                                <RadzenText>@((Almacen.Buscar(Item.AlmacenId)).Identificador)</RadzenText>
                            </Template>
                         </RadzenDataGridColumn>
                         <RadzenDataGridColumn TItem="Articulo" Filterable="true" Sortable="true"  Frozen="false" Title="Suplidor">
                            <Template Context="Item">
                                <RadzenText>@((Suplidor.Buscar(Item.SuplidorId)).Nombre)</RadzenText>
                            </Template>
                         </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Articulo" Property="CategoriaId" Title="Categoria" />
                        <RadzenDataGridColumn TItem="Articulo" Property="Peso" Title="Peso" />
                        <RadzenDataGridColumn TItem="Articulo" Property="Costo" Title="Costo" />
                        <RadzenDataGridColumn TItem="Articulo" Property="Precio" Title="Precio" />
                        <RadzenDataGridColumn TItem="Articulo" Property="Existencia" Title="Existencia" />
                        <RadzenDataGridColumn TItem="Articulo" Property="Estado" Title="Estado" />
                        <RadzenDataGridColumn TItem="Articulo" Property="Fecha_Caducidad" Title="Fecha Caducidad" />
                    </Columns>

                </RadzenDataGrid>
            </div>

        </ChildContent>
    </RadzenFieldset>
</RadzenCard>

