@page "/C_Ventas"

@inject CategoriaBLL categoriaBLL
@inject VentaBLL Ventas
@inject SuplidorBLL SuplidorBLL
@inject ClienteBLL ClienteBLL
<PageTitle>Consulta Categorias.</PageTitle>



<RadzenCard>
    <RadzenFieldset>
        <HeaderTemplate>
            <span class="d-inline-flex align-items-center align-middle">
                <RadzenIcon Icon="emergency" class="me-1" /><b>Consulta Ventas.</b>
            </span>
        </HeaderTemplate>
        <ChildContent>
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
            AllowGrouping="true" AllowSorting="true" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
            Data= "Ventas.GetList()" TItem="Venta" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true">

                <Columns>
                    <RadzenDataGridColumn TItem="Venta" Filterable="false" Sortable="false"  Frozen="true" Title="Acciones">
                        <Template Context="Item">
                            <RadzenLink Path=@($"Ventas/{Item.VentaId}") Text="Ver" ><RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text="Ver" /></RadzenLink>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Venta" Property="VentaId" Title="VentaId#"/>
                    <RadzenDataGridColumn TItem="Venta" Property="Fecha" Title="Fecha"/>
                    <RadzenDataGridColumn TItem="Venta" Filterable="true" Sortable="true"  Frozen="false" Title="Suplidor">
                            <Template Context="Item">
                                <RadzenText>@((SuplidorBLL.Buscar(Item.SuplidorId)).Nombre)</RadzenText>
                            </Template>
                         </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Venta" Property="Total" Title="Total"/>
    
            
                </Columns>

            </RadzenDataGrid>
        </ChildContent>
    </RadzenFieldset>
</RadzenCard>


