@page "/R_Sucursal"
@page "/R_Sucursal/{SucursalId:int}"
@inject SucursalBLL sucursalBLL
@inject NotificationService Notify

@* Registro de categoria de productos *@
@inject AuthenticationStateProvider Authentication

<EditForm Model="sucursal" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="card shadow-lg">

        <div class="card ">

            <div class="card-header ">

                <h3 class="card-title">
                    Registro Categoria
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-truck" viewBox="0 0 16 16">
                     </svg>
                </h3>
            </div>

            <div class="card-body">
                <hr>
                
 @*SucursalId*@
                
                <div class="sml col-3">
                        <label>SucursalId</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="sucursal.SucursalId" class="form-control " />
                            <div class="input-group-append">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-lg btn-primary"
                    @onclick="Buscar">Buscar</button>

                                </div>
                            </div>
                            </div>
                            </div>
        @*...................... Descripcion ......................*@

                <div class="row">

                    <div class="sml col-3">
                        <label>Nombre Sucursal.</label>
                        <InputText @bind-Value="sucursal.Nombre" placeholder="Nombre Sucursal" class="form-control" />
                    </div>

                     <div class="sml col-3">
                        <label>Dirección.</label>
                        <InputText @bind-Value="sucursal.Direccion" placeholder="Direccion Sucursal" class="form-control" />
                    </div>
                    </div>
                    </div>
                    </div>

          
  @*...................... Botones ......................*@

            <div class="card-footer">
                <div class="form-group text-left" display: inline-block>
                    <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo" title="Limpiar registro">
                        <span class="oi oi-file"> Nuevo</span>
                    </button>

                    <button type="submit" class="btn btn-lg btn-success" title="Guardar Sucursal">
                        <span class="oi oi-document"> Guardar</span>
                    </button>

                    <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar" title="Eliminar Sucursal">
                        <span class="oi oi-trash"> Eliminar</span>
                    </button>

                </div>

            </div>

                
  </div>
 
</EditForm>

@code {

  [Parameter]
  public int SucursalId { get; set; }

  private Sucursal sucursal {get; set;} = new Sucursal();
  public List<Categoria> lista { get; set; } = new List<Categoria>();

  protected override void OnInitialized()
  {
    sucursal.SucursalId = 0;
    if (SucursalId > 0)
    {
      sucursal.SucursalId = SucursalId;
      Buscar();
    }
  }
  void Buscar()
  {
    var encontrado = sucursalBLL.Buscar(sucursal.SucursalId);
    if (encontrado != null)
    {
      sucursal= encontrado;
      this.sucursal = encontrado;
      Notify.ShowNotification("Busqueda","Registro encontrado", NotificationSeverity.Success);
    }
    else
    {
      Notify.ShowNotification("Busqueda","Registro no encontrado", NotificationSeverity.Warning);
    }
  }
  void Nuevo()
  {
    this.sucursal = new Sucursal();
    Notify.ShowNotification("Limpieza","Registro Limpiado luego de la acción con exito!", NotificationSeverity.Success);

  }
  void Guardar()
  {
    if (sucursalBLL.Guardar(sucursal))
    {
      Nuevo();
      Notify.ShowNotification("Guardado","Guardado con exito!",NotificationSeverity.Success);
    }
    else
    {
      Notify.ShowNotification("Guardado","No se ha guardado nada revise los campos",NotificationSeverity.Error);
    }
  }
  void Eliminar()
  {
    if (sucursalBLL.Eliminar(sucursal))
    {
      Nuevo();
      Notify.ShowNotification("Eliminado","Eliminado con exito!",NotificationSeverity.Success);
    }
    else if (sucursal.SucursalId == 0)
    {
      Notify.ShowNotification("Eliminado","Error al eliminar revise que haya algo a eliminar",NotificationSeverity.Error);
    }
  }
}
