@inherits LayoutComponentBase
@using PaxSender
@using Radzen.Blazor


<PageTitle>PaxSender</PageTitle>

<head>
    <link rel="shortcut icon" href="https://blogger.googleusercontent.com/img/a/AVvXsEgyC5BC69l2F5UDicjJ_VrOsI7y6N-lO33wuvTCnSBRwfbVqGUFMudClSrFuDDl0p6bzVqtmNUVJ5kOqgDBRUB_1jVMn1cojzv8DMNQ0fEo402OTig6mhWTRDdw9qMtXHCZX6PKrjs1RZumAJ2vi_ALWeX4WPcmBw7dXl21zhOs1TUqiSZ6t3n4luOG">
</head>


<RadzenNotification></RadzenNotification>
 <RadzenDialog />
<RadzenLayout style="height: 100vh">
    
    <RadzenHeader class="rz-background-color-warning-light" style="display: flex; justify-content: space-between; border:none;">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="rz-background-color-warning-light" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)"   style= "border:none;  border-top-right-radius: 25px; border-bottom-right-radius: 25px;"/>
            
        </RadzenStack>

    <RadzenProfileMenu style=" border:none;"class="rz-background-color-warning-light">
        <Template>
            <RadzenLabel Text="Usuario" style="color:rgb(255, 255, 255)" />
        </Template>
        <ChildContent>
            <RadzenProfileMenuItem Text="Perfil"  ></RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="Cerrar Sesion"  ></RadzenProfileMenuItem>
        </ChildContent>
    </RadzenProfileMenu>


    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="@sidebar1Expanded"style="background-color:#28363c;" >
        
        
        <RadzenPanelMenu style="background-color:#28363c;" Multiple="false" >


                    <RadzenPanelMenuItem Selected="true"  icon="emergency" style="background-color:#28363c;" Text="Clientes" >
                        <RadzenPanelMenuItem Selected="true"  icon="search" Text="Consulta" Path="C_Clientes" />
                        <RadzenPanelMenuItem  Selected="true" icon="add" Text="Registro" Path="R_Clientes" />
                    </RadzenPanelMenuItem>

                    <RadzenPanelMenuItem Selected="true" icon="shield"  style="background-color:#28363c;" Text="Suplidores" >
                        <RadzenPanelMenuItem Selected="true"  icon="search"  Text="Consulta" Path="C_Suplidores" />
                        <RadzenPanelMenuItem Selected="true"  icon="add" Text="Registro" Path="R_Suplidores" />
                    </RadzenPanelMenuItem>

                    <RadzenPanelMenuItem Selected="true"  icon="inbox" style="background-color:#28363c;" Text="Articulos" >
                        <RadzenPanelMenuItem Selected="true"   icon="search" Text="Consulta" Path="C_Articulos" />
                        <RadzenPanelMenuItem Selected="true"   icon="add" Text="Registro" Path="R_Articulos" />

                    </RadzenPanelMenuItem>

                     <RadzenPanelMenuItem Selected="true"  icon="emergency" style="background-color:#28363c;" Text="Categorias" >
                        <RadzenPanelMenuItem Selected="true"  icon="search" Text="Consulta" Path="C_Categorias" />
                        <RadzenPanelMenuItem  Selected="true" icon="add" Text="Registro" Path="R_Categorias" />
                    </RadzenPanelMenuItem>



                    

        </RadzenPanelMenu>
        <div class="rz-p-4">
        </div>
    </RadzenSidebar>
    <RadzenBody style="background-color: white;">
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;


}