<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PaxSender</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
                    <NavLink class="nav-link" href="R_Suplidor">
                <span class="oi oi-home" aria-hidden="true"></span> Registro Suplidor
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
                    <NavLink class="nav-link" href="R_Articulos">
                <span class="oi oi-home" aria-hidden="true"></span> Registro Articulos
            </NavLink>
        </div>

         <div class="nav-item px-3">
                    <NavLink class="nav-link" href="R_Clientes">
                <span class="oi oi-home" aria-hidden="true"></span> Registro Cliente
            </NavLink>
        </div>

        <div class="nav-item px-3">
                    <NavLink class="nav-link" href="R_Categoria">
                <span class="oi oi-home" aria-hidden="true"></span> Registro Categoria
            </NavLink>
        </div>
       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
